Repository hougesen/portfolio-nuxt2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: seperated browserslist from package.json
  .browserslistrc
Due: none

build: automatic update of browserslist db when running code-quality workflow
  .github/workflows/code-quality.yml
Due: none

Update README.md
  README.md
Due: prettier --write

chore: updated prettier config
  .prettierrc
  prettier.config.js
Due: prettier --write, eslint --fix

fix: update browserslist
  package-lock.json
Due: prettier --write

build: seperated formatting & linting into seperate stages
  .github/workflows/code-quality.yml
Due: none

cd: removed deploy script
  .github/workflows/deploy.yml
Due: none

style: formatting
  .eslintrc.js
  .github/workflows/code-quality.yml
  .vscode/settings.json
  aws-lambda-fetch-pinned/index.js
  aws-lambda-fetch-pinned/package-lock.json
  aws-lambda-fetch-pinned/package.json
  components/Contact.vue
  components/Hero.vue
  components/Icons.vue
  components/Nav.vue
  components/Projects.vue
  components/Skills.vue
  components/SocialIcons.vue
  layouts/default.vue
  nuxt.config.js
  package-lock.json
  package.json
  pages/index.vue
  stylelint.config.js
  tsconfig.json
  vue-file-import.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,vue,css,scss,json,md}
  eslint --fix: any of: *.{js,ts,vue}
  stylelint --fix: any of: *.{css,scss,vue}
